:root{
  --bg:#ffffff; --fg:#222; --muted:#666;
}
*{ box-sizing:border-box; }
html, body { padding:0; margin:0; font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; color: var(--fg); background: var(--bg); }
img{ display:block; max-width:100%; }
main section { scroll-margin-top: 72px; } /* que el anchor no quede tapado por el navbar */
html {
  scroll-behavior: smooth;
}
